<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://mysql15.hostmaster.sk/do784507db"/>
        <property name="username" value="do784500"/>
        <property name="password" value="glavoika"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="databaseInserter" class="com.wikipediaSemanticAnalyser.database.DatabaseInserterImpl">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="tokenizer" class="com.wikipediaSemanticAnalyser.preprocessing.tokenizing.TokenizerImpl"/>

    <bean id="sentencePreprocessor" class="com.wikipediaSemanticAnalyser.preprocessing.SentencePreprocessorImpl">
        <constructor-arg ref="tokenizer"/>
    </bean>


</beans>